<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="stylesheets/style.css">
 <!--    <link rel="stylesheet" href="stylesheets/style.scss"> -->
</head>

<body>
    <div>warning :: this is an mvp project and not all queries have images or proper sizing.</div>
    <p>
    <div>
        <%= title %>
            <form id="your-costume" method="get">
                <select name="wearer" id="costume-wearer" placeholder="I am a ...">
                    <option value="Child">Child</option>
                    <option value="Adult">Adult</option>
                    <option value="Couple">Couple</option>
                </select>
                <select name="theme" id="costume-theme" placeholder="I might like ...">
                    <!-- options will be dynamically generated from DB -->
                    <% for (var i = 0; i < themes.length; i++) { %>
                      <option><%= themes[i].theme %></option>
                    <% } %>
                </select>

    <p><input class="btn" type="submit" name="submit" value="Costume Me!"/>

    </form>
<div id="costumes">

</div>



<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>

